<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/homenavbar.ejs') %>
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                <h2><%= artigo.titulo%></h2>
            </div>
            <div class="card-body">
                <%- artigo.corpo %>
            </div>
        </div>
    </div>

</body>
<%- include ('./partials/footer.ejs') %>