<%- include ('../../partials/header.ejs') %>

<body>
    <%- include ('../../partials/navbar.ejs') %>

    <div class="container mt-2">
        <h2>Categorias:</h2>
        <a class="btn btn-success mt-2" href="/admin/categorias/nova">Criar categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categorias.forEach(categoria =>{ %>
                <tr>         
                    <th><%= categoria.id%></th>
                    <th><%= categoria.titulo%></th>
                    <th><%= categoria.slug%></th>
                    <th>
                        <a href="/admin/categorias/edit/<%= categoria.id%>" class="btn btn-warning">Editar</a>
                    
                        <form method="POST" action="/categorias/delete" style="display:inline" onsubmit="confirma(event, this)">
                            <input type="hidden" name="id" value="<%= categoria.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>

</body>
    <%- include ('../../partials/footer.ejs') %>
<script>
        function confirma(event, form){
            event.preventDefault()
            var decisao = confirm("Você quer deletar está categoria?")
            if(decisao){
                form.submit()
            }
        }
</script>